In [3]:
f = open('US_births_1994-2003_CDC_NCHS.csv','r')
readfile = f.read()
w=readfile.split('\n')
w[:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [23]:
def read_csv(filename):
    a = open(filename,'r')
    b = a.read()
    c = b.split('\n')
    string_list = c[1:]
    final_list=[]
    
    for item in string_list:
        string_fields = item.split(',')
        int_fields=[]
        for x in string_fields:
            int_fields.append(int(x))
        final_list.append(int_fields)
    return final_list

In [24]:
cdc_list = read_csv('US_births_1994-2003_CDC_NCHS.csv')

In [25]:
cdc_list[:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [30]:
from collections import defaultdict
def month_births(n_list):
    birth_per_month=defaultdict(int)
    for items in n_list:
        birth_per_month[items[1]] += items[4]
    return birth_per_month

In [32]:
cdc_month_births = month_births(cdc_list)
cdc_month_births

defaultdict(int,
            {1: 3232517,
             2: 3018140,
             3: 3322069,
             4: 3185314,
             5: 3350907,
             6: 3296530,
             7: 3498783,
             8: 3525858,
             9: 3439698,
             10: 3378814,
             11: 3171647,
             12: 3301860})

In [35]:
def dow_births(ne_list):
    birth_weekday=defaultdict(int)
    for item in ne_list:
        birth_weekday[item[3]] +=item[4]
    return birth_weekday

In [36]:
cdc_day_births = dow_births(cdc_list)
cdc_day_births

defaultdict(int,
            {1: 5789166,
             2: 6446196,
             3: 6322855,
             4: 6288429,
             5: 6233657,
             6: 4562111,
             7: 4079723})

In [48]:
def calc_counts(data, column):
    any_dic = defaultdict(int)
    for item in data:
        any_dic[item[column]] += item[4]
    return any_dic

In [49]:
cdc_year_births = calc_counts(cdc_list, 0)

In [50]:
cdc_year_births

defaultdict(int,
            {1994: 3952767,
             1995: 3899589,
             1996: 3891494,
             1997: 3880894,
             1998: 3941553,
             1999: 3959417,
             2000: 4058814,
             2001: 4025933,
             2002: 4021726,
             2003: 4089950})

In [52]:
cdc_month_births =calc_counts(cdc_list,1) 
cdc_month_births

defaultdict(int,
            {1: 3232517,
             2: 3018140,
             3: 3322069,
             4: 3185314,
             5: 3350907,
             6: 3296530,
             7: 3498783,
             8: 3525858,
             9: 3439698,
             10: 3378814,
             11: 3171647,
             12: 3301860})

In [53]:
cdc_dom_births = calc_counts(cdc_list,2)
cdc_dom_births

defaultdict(int,
            {1: 1276557,
             2: 1288739,
             3: 1304499,
             4: 1288154,
             5: 1299953,
             6: 1304474,
             7: 1310459,
             8: 1312297,
             9: 1303292,
             10: 1320764,
             11: 1314361,
             12: 1318437,
             13: 1277684,
             14: 1320153,
             15: 1319171,
             16: 1315192,
             17: 1324953,
             18: 1326855,
             19: 1318727,
             20: 1324821,
             21: 1322897,
             22: 1317381,
             23: 1293290,
             24: 1288083,
             25: 1272116,
             26: 1284796,
             27: 1294395,
             28: 1307685,
             29: 1223161,
             30: 1202095,
             31: 746696})

In [54]:
cdc_dow_births = calc_counts(cdc_list,3)
cdc_dow_births

defaultdict(int,
            {1: 5789166,
             2: 6446196,
             3: 6322855,
             4: 6288429,
             5: 6233657,
             6: 4562111,
             7: 4079723})

In [79]:
def cal_dic(dic_name):
    max_dic = max(dic_name.values())
    min_dic = min(dic_name.values())
    return max_dic,min_dic

In [80]:
cdc_dow = cal_dic(cdc_dow_births)
cdc_dow

(6446196, 4079723)

In [83]:
def calc_counts2(data,column,column_consecutive_value):
    births = {} 
    for element in data:
        if element[0] in births and element[column] == column_consecutive_value:
            births[element[0]] += element[4] 
        elif element[0] not in births and element[column] == column_consecutive_value:
            births[element[0]] = element[4]
    cdc_year_births = births 
    return(cdc_year_births) 
print(calc_counts2(cdc_list,3,6))

{2000: 469794, 2001: 453928, 2002: 445770, 2003: 447445, 1994: 474732, 1995: 459580, 1996: 456261, 1997: 450840, 1998: 453776, 1999: 449985}